Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb


! sxiv
Sxiv.font: Jetbrains Mono-10
Sxiv.foreground:#A3BE8C


Sxiv.background: #2E3440


